<nav>

    <ul>
        <% if (isAdmin){ %>
            <li> <a href="/manage/view/inventory">View Inventory</a> </li>
        <% } %>
        <li> <a href="/logout">Logout</a> </li>
        <li> <a href="/help">Help</a> </li>
    </ul>

</nav>