<nav class="opaque">
    <% if (showLogo){ %>
        <img src="/public/res/sims-logo.png" alt="SIMS logo" class="logo" onclick="location.href = '/'">
    <% } %>

    <ul>
        <% if (isAdmin){ %>
            <li> <a href="/manage/view/inventory">View Inventory</a> </li>
        <% } %>
        <li> <a href="/logout">Sign Out</a> </li>
        <li> <a href="/help">Help</a> </li>
    </ul>

</nav>

<div class="nav-buffer"></div>