<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Staff Log In</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
    <%- include('../partials/login_nav', {isAdminLogin:true}) %>

<main>

    <div class="login-box admin-box">
        <h1 class="no-margin">S.I.M.S</h1>

        <label class="input">
            <span>Enter NTU ID:</span>
            <smart-input name="uid" placeholder=""></smart-input>
        </label>

        <label class="input">
            <span>Password:</span>
            <smart-input name="upw" type="password"></smart-input>
        </label>

        <button class="m-up" onclick="login(this)">Continue</button>

        <p>Can't sign in? Click <a href="/help">Here</a></p>
    </div>

</main>

    <script>
        function login(btn){
            let btnState = Tools.ButtonStateSwapper(btn);
            btnState.setLoading();

            let uid = $('[name="uid"]').get(0);
            let pwd = $('[name="upw"]').get(0);

            $.post("/api/login/staff",{
                username : uid.value,
                password : pwd.value,
                CSRF_Token : Tools.csrfToken()
            }, res => {
                btnState.reset();
                if (res.isSuccessful){
                    location.href = "/";
                }
                else{
                    let modal = new XModal(res.message, res.title, XModalType.ALERT);
                    modal.open({
                        okayBtn : {
                            text : "Okay",
                            type: XModalButtonType.PRIMARY
                        }
                    });
                }
            });

        }
    </script>

    <%- include('../partials/footer') %>
</body>
</html>