<!doctype html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/public/styles/help.css">
</head>
<body style="background-color:#eeeeee">
    
    <div class="line-top">
        <hr style="border: 28px solid #ffffff;" />
    </div>

    <div class="help-contain">
<!-------------------login help-------------------->
        <h2>Welcome to Login help</h2>

        <div class="help-message">
            <h3>How do I login my account?</h3>
            It's simple to login, you only requrie your student ID number. Click on the textbox and enter your ID number
            <br> and click the continue button
        </div>

        <div class="help-message">
            <h3>How do I get an ID?</h3>
            In order for you to login into the system you must be a registered student at Nottingham Trent University
        </div>
        
        <div class="help-message">
            <h3>I cant login using my ID</h3>
            Not all students are allowed to use this service, if you think this should not be happening please contact
            <br>your course leader to fix this issue
        </div>
        
        <div class="help-message">
            <h3>The service keeps loading and not letting me past the login</h3>
            This can be a issue connecting to the server, this could be due to maintenance. If This this keeps happening
            <br>please contact a nearby  staff member within the shop.
        </div>

        <div class="help-message">
            <h3>How do I access the admin login page?</h3>
            On the top right of the screen you will see the ‘Admin’ text written down. Click that to go to the admin login page.
            <br>This is the same if you wish to go page to the normal login
        </div>
        <div class="line">
        <hr style="border: 4px solid #333333;" />
        </div>
<!--------------------POS help-------------------------->
        <h2>POS help</h2>

        <div class="help-message">
            <h3>How do I Find what I need?</h3>
            At the top of the screen there is a search bar, enter what you wish to find and press enter on the keyboard.
        </div>
        
        <div class="help-message">
            <h3>How do I add item into my cart?</h3>
            When you have found your product, just simply click on it to add to the cart.
        </div>

        <div class="help-message">
            <h3>How do I checkout my items?</h3>
            When you have found and added all your items to your cart simple click the button ‘checkout’ to finish the
            <br> transaction  and you will be brought to the transaction page.
        </div>

        <div class="help-message">
            <h3>How do I sign out of the page</h3>
            You have a product already in the cart, after that there will be a plus and minus to set an amount you wish to checkout.
        </div>

        <div class="help-message">
            <h3>How do I add more of the same item to my cart?</h3>
            At the top right of the page there is a ‘sign out ’ button. Press that if you wish to log out
        </div>

        <div class="line">
            <hr style="border: 4px solid #333333;" />
        </div>
<!---------------------Transaction help----------------------------->
        <h2>Transaction help</h2>

        <div class="help-message">
            <h3>Has my order been confirmed?</h3>
            The system will thank you for the purchase and display the items you have purchased, if any items are missing
            <br>r after you checked them out, please report this issue to a member of staff.
        </div>
        
        <div class="help-message">
            <h3>Can I cancel my transaction, if so, how?</h3>
            Yes you are able to cancel the transaction you have made, do this by clicking the ‘cancel transaction’ button
            <br> below the ‘finish and sign out’ button.
        </div>

        <div class="help-message">
            <h3>How do I complete my purchase</h3>
            You only need to press the ‘finish and sign out’ button and your transaction will be complete, it will be too late
            <br> to cancel the order after you have confirmed it. Please contact a member of staff for support if you wish to
            <br> cancel an order.
        </div>
        <div class="line">
            <hr style="border: 4px solid #333333;" />
        </div>
<!----------------Admin login help---------------------------->
        <h2>Admin login help</h2>

        <div class="help-message">
            <h3>How do I login into my account?</h3>
            To login you must have an admin account that has been given to you. Simply enter the username and password
            <br> and press log in
        </div>
        
        <div class="help-message">
            <h3>The service keeps loading and not letting me past the login.</h3>
            This can be a issue connecting to the server, this could be due to maintenance . If This this keeps happening
            <br> please contact an administrator   
        </div>

        <div class="help-message">
            <h3>How do I access the login page?</h3>
            On the top right of the screen you will see the ‘user mode’ text written down. Click that to go to the student
            <br> login page. This is the same if you wish to go page to the admin login
        </div>
        <div class="line">
            <hr style="border: 4px solid #333333;" />
        </div>
<!--------------------------Manager help-------------------------------->
        <h2>Manager help</h2>

        <div class="help-message">
            <h3>How do I use the ‘quick access’ buttons?</h3>
            On the right side there are multiple buttons that you can use below will explain each one of them:
            <br>- Add new item for inventory: pressing this button will allow you to add a new item in the inventory if it does not exists already.
            <br>- recieve item:
            <br>- Add reminder: if you wish to add a reminder to buy more stock or for something else press the add reminder button.
            <br>- Log spillage: if there is a spillage within the shop you must press this button to log the spillage so it can be reported.
        </div>
        
        <div class="help-message">
            <h3>How do I use the ‘Transaction reports’ buttons?</h3>
            Each button shows how far back you wish to see the reports. If you want to look at logs 6 months ago click on the
            <br> ‘last six months’ button this is the same for the rest of the buttons.
        </div>

        <div class="help-message">
            <h3>Where are the logs shown?</h3>
            The logs will be shown at the bottom left box, it will display all the logs with a chosen time.
        </div>
        
        <div class="line">
            <hr style="border: 4px solid #333333;" />
        </div>

    </div>

</body>
</html>