<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Home</title>
    <%- include('../partials/imports') %>
</head>
<body>

    <% for (let i = 0; i < 10; i++){ %>
        <h1>Hello World (<%= i %>)</h1>
    <% } %>

    <%- include('../partials/footer') %>

</body>
</html>