<!doctype html>
<html lang="en">
<head>
    <% include ../partials/meta.ejs %>
    <title>Home</title>
    <% include ../partials/imports.ejs %>
</head>
<body>

    <% for (let i = 0; i < 10; i++){ %>
        <h1>Hello World (<%= i %>)</h1>
    <% } %>

    <% include ../partials/footer.ejs %>

</body>
</html>