<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Home</title>
    <%- include('../partials/imports') %>
</head>
<body>

    <h1>Hello World</h1>
    <h3>Lorem ipsum dolor.</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eius iste molestiae nisi officiis perspiciatis quae saepe tempora voluptas voluptate.</p>

    <%- include('../partials/footer') %>

</body>
</html>