<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Sign In</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
    <%- include('../partials/login_nav', {isAdminLogin:false, showLogo:false}) %>

    <main>

        <div class="login-box">
            <h1 class="no-margin">S.I.M.S</h1>

            <label class="input">
                <span>Enter NTU ID or Email:</span>
                <smart-input name="uid" placeholder=""></smart-input>
            </label>

            <button onclick="login(this)">Continue</button>

            <p>Can't sign in? Click <a href="/help">Here</a></p>
        </div>

    </main>

    <script>

        let inp = $('[name="uid"]').get(0);

        function updateHandler(v){
            inp.value = v;
        }

        async function getUsers(){
            return new Promise(resolve => {
                $.get("/api/list/users",{
                    hint : inp.value,
                    CSRF_Token : Tools.csrfToken()
                }, result => {
                    resolve(result);
                });
            })
        }

        inp.addEventListener("value_changed", async e => {

            let u = await getUsers();

            inp.suggestions = [];

            u.forEach(user => {
                inp.suggestions.push( new SmartInputSuggestionItem(user.email, user.identifier, (v) => {
                    updateHandler(v);
                } ) );
            });

            inp.updateSuggestions();

        });

        function login(btn){
            let btnState = Tools.ButtonStateSwapper(btn);
            btnState.setLoading();

            $.post("/api/login/customer",{
                username : inp.value,
                CSRF_Token : Tools.csrfToken()
            }, res => {
                btnState.reset();
                if (res.isSuccessful){
                    location.href = "/";
                }
                else{

                    let modal = new XModal(res.message, res.title, XModalType.ALERT);
                    modal.open({
                        okayBtn : {
                            text : "Okay",
                            type: XModalButtonType.PRIMARY
                        }
                    });

                }
            });

        }
    </script>

    <%- include('../partials/footer') %>
</body>
</html>