<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Home</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <main>

        <div class="login-box">
            <h1 class="no-margin">S.I.M.S</h1>

            <label class="input">
                <span>Enter NTU ID or Email:</span>
                <smart-input name="uid" placeholder=""></smart-input>
            </label>

            <button>Continue</button>

            <p>Can't sign in? Click <a href="/help">Here</a></p>
        </div>

    </main>

    <script>

        let inp = $('[name="uid"]').get(0);

        function updateHandler(v){
            inp.value = v;
        }

        async function getUsers(){
            return new Promise(resolve => {
                $.get("/api/list/users", res => {
                    let result = JSON.parse(res);
                    console.log(result);
                    resolve(result);
                });
            })
        }

        inp.addEventListener("value_changed", async e => {
            console.log(e);

            let u = await getUsers();

            inp.suggestions = [];

            Object.keys(u).forEach(email => {
                inp.suggestions.push( new SmartInputSuggestionItem(email, u[email], (v) => updateHandler(u[email]) ) );
            });

            inp.updateSuggestions();

        });

    </script>

    <%- include('../partials/footer') %>
</body>
</html>