<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Manage</title>
    <%- include('../partials/imports') %>
    <script src="/public/scripts/XLogView.js"></script>
    <link rel="stylesheet" href="/public/styles/manage.css">
</head>
<body>
    <%- include('../partials/nav', {isAdmin:true, showLogo:true}) %>

    <section class="f h padded" style="overflow: hidden">
        <div class="f v greedy relative">
            <h1 style="margin: 0">Manage</h1>
            <br>
            <log-view id="notices" label="Notices"></log-view>
            <br>
            <log-view id="logs" label="Transaction Logs"></log-view>
        </div>

        <aside class="f v" id="power-sidebar">
            <h3>Quick Access</h3>
            <button onclick="location.href='/manage/inventory'">Manage Inventory</button>
            <button onclick="location.href='/manage/store-location'">Manage storage location</button>
            <button onclick="location.href='/manage/permissions'">Manage permissions</button>
            <button onclick="location.href='/store'">Make Transaction</button>

            <br>
            <br>

            <h3>Generate Reports</h3>
            <button onclick="location.href='/report/transactions'">Transactions</button>
            <button onclick="location.href='/report/inventory'">Inventory</button>
        </aside>
    </section>


    <script>

        let logView = document.getElementById('notices');
        let logs = document.getElementById("logs");

        $.get("/api/transactions/listall",{
            CSRF_Token : Tools.csrfToken()
        }, result => {
            for (let ent of result.payload){
                logs.addEntry({
                    name: ent.createdAt,
                    color: Tools.Color.BLUE,
                    content: `${ent.userOwner.identifier} ${ent.transactionType === 0 ? "purchased" : "returned"} ${ent.entries.length} item(s)`
                });
            }
        });

        $.get("/api/items/warnings",{
            CSRF_Token : Tools.csrfToken()
        }, result => {
            if (result.isSuccessful){
                result.payload.outOfStock.forEach(item => {
                    logView.addEntry({
                        name: "Alert",
                        color: Tools.Color.RED,
                        content: `Out of stock for <a href="/manage/inventory#${item.name}">${item.name}</a>`
                    });
                });

                result.payload.lowStock.forEach(item => {
                    logView.addEntry({
                        name: "Warning",
                        color: Tools.Color.ORANGE,
                        content: `Running low on <a href="/manage/inventory#${item.name}">${item.name}</a>`
                    });
                });
            }
        });

    </script>

    <%- include('../partials/footer') %>
</body>
</html>