<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Manage</title>
    <%- include('../partials/imports') %>
</head>
<body>
    <%- include('../partials/nav', {isAdmin:true}) %>

    <h1>Manage</h1>

    <%- include('../partials/footer') %>
</body>
</html>