<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Not Authorized</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
    <%- include('../partials/nav', {isAdminLogin:false, showLogo:true}) %>

    <main>

        <div class="login-box">
            <h1 class="no-margin">Not Authorized to access <% requestedPage.name %></h1>
        </div>

    </main>

    <%- include('../partials/footer') %>
</body>
</html>