<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>POS</title>
    <%- include('../partials/imports') %>
	<link rel="stylesheet" href="/public/styles/xbasket.css">

	<script src="/public/scripts/XBasket.js"></script>
	
</head>
<body>

    <section class="f h subtle-bg">
        <x-basket id="basket"></x-basket>

        <div class="f greedy relative">
            <%- include('../partials/nav', {isAdmin:false}) %>
            <h1>WO</h1>

            <product-view></product-view>
        </div>
    </section>

    <%- include('../partials/footer') %>

    <script>

        let basket = $("#basket").get(0);
        let itemCollection = new BasketCollection();

        itemCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 3 Pack (Black)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp3k"
        }) );

        itemCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 5 Pack (Blue)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp5b"
        }) );

        itemCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 4 Pack (Red)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp4r"
        }) );

        itemCollection.addItem( new BasketItem({
            name: "Blu-Tack",
            quantity: 12,
            itemReference: "bts0x"
        }) );

        itemCollection.addItem( new BasketItem({
            name: "White-Tack",
            quantity: 20,
            itemReference: "wts0x"
        }) );

        itemCollection.addItem( new BasketItem({
            name: "A3 Cardboard",
            quantity: 8,
            itemReference: "acb0x"
		}) );
		
		let product = $("#product").get(0);
        let productCollection = new BasketCollection();

        productCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 3 Pack (Black)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp3k"
        }) );

        productCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 5 Pack (Blue)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp5b"
        }) );

        productCollection.addItem( new BasketItem({
            name: "Whiteboard Pens 4 Pack (Red)",
            description: "Dry-erase whiteboard pens",
            quantity: 30,
            itemReference: "wbp4r"
        }) );


        basket.attachCollection(itemCollection);
        product.attachCollection(productCollection);


	</script>


</body>
</html>