<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>POS</title>
    <%- include('../partials/imports') %>
</head>
<body>
    <%- include('../partials/nav', {isAdmin:false}) %>

    <h1>POS</h1>

    <%- include('../partials/footer') %>

</body>
</html>