<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>POS</title>
    <%- include('../partials/imports') %>
	<link rel="stylesheet" href="/public/styles/xbasket.css">

    <script src="/public/scripts/XCatalog.js"></script>
    <script src="/public/scripts/XBasket.js"></script>
</head>
<body>

    <section class="f h subtle-bg" style="overflow: hidden">
        <x-basket id="basket"></x-basket>

        <div class="f v greedy relative">
            <%- include('../partials/nav', {isAdmin:false, showLogo:false}) %>
            <section class="padded">
                <smart-input name="find" placeholder="Find Item" type="search"></smart-input>

                <x-catalog id="catalog"></x-catalog>
            </section>
        </div>
    </section>

    <%- include('../partials/footer') %>

    <script>

        let basket = $("#basket").get(0);
        let catalog = $("#catalog").get(0);
        let itemCollection = new BasketCollection();
        let catalogCollection = new CatalogCollection();

        basket.attachCollection(itemCollection);

        async function getItems(){
            return new Promise(resolve => {
                $.get("/api/items/itemlist",{
                    CSRF_Token : Tools.csrfToken()
                }, result => {
                    resolve(result.payload.items);
                });
            });
        }

        catalog.addEventListener('itempicked',ev => {
            addToBasket(ev.detail);
        });

        async function addToBasket(item){
            if (item && basket.updateChild(item.id, itm => { return itm.quantity++ } )){
                return;
            }

            itemCollection.addItem( new BasketItem({
                name: item.name,
                description: item.description,
                quantity: item.quantity,
                itemReference: item.id
            }) );

            basket.updateVisuals();
        }

        async function seedCatalog(){
            let col = await getItems();

            col.forEach(item => {
                catalogCollection.addItem( new CatalogItem({
                    entry : item
                }) );
            });

            catalog.attachCollection(catalogCollection);
        }

        seedCatalog();

	</script>


</body>
</html>