@import "__variables";

.main-contain{
    align-self: center;
    .smooth-font();

}

.confirm-message{
    border: medium;
}

.confirm-summary{
    padding: 5px;
}

button{
    font-size: 15px;
}
button.m-up{
    margin-top: 12px;
}
button:hover{
    opacity: 0.8;
}

.checkout-item{
    padding: 5px 2px;
}