@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
.button-default {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: gainsboro;
  color: #333333;
}
.button-primary {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: #004877;
  color: #eeeeee;
}
.button-negative {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: #E4032E;
  color: #eeeeee;
}
.main-contain {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  color: #252525;
}
.confirm-message {
  border: medium;
}
.confirm-summary {
  padding: 5px;
}
button {
  font-size: 15px;
}
button.m-up {
  margin-top: 12px;
}
button:hover {
  opacity: 0.8;
}
