@import "_variables";

.login-box{
	.dead-center(column, space-between);
	height: 280px;
	width: 340px;

	label.input{
		.paragraph();
		display: flex;
		flex-direction: column;
		width: 100%;

		> *{
			margin-top: 8px;
		}
	}

	button{
		.button-default();
		font-size: 15px;


		&:hover{
			opacity: 0.8;
		}

	}
}
