@import "__variables";
@import "__modifiers";

*{box-sizing: border-box}

html{
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	*:focus{
		outline: none;
	}
}

h1{
	.header();
}

h3{
	.sub-header();
}

p{
	.paragraph();
}

main{
	flex: 1;
	.dead-center();
}

section{
	height: 100vh;
	overflow: auto;

	&.subtle-bg{
		background: @white;
	}

}

a{
	color: @link-color;
	padding: 0 5px;
	margin: 0 -5px;
	border-radius: 3px;

	&:hover{
		background: rgba(@link-color, 0.1);
		text-decoration: none;
	}
}

.no-margin{
	margin:0;
}