@import "__variables";
@import "__modifiers";

*{box-sizing: border-box}

html{
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	*:focus{
		outline: none;
		border-radius: @rounded-border;
		box-shadow: 0 0 0 2px rgba(@primary-color,0.2);
	}
}

h1{
	.header();
}

h3{
	.sub-header();
}

p{
	.paragraph();
}

main{
	flex: 1;
	.dead-center();
}

section{
	display: flex;
	height: 100vh;

	&.subtle-bg{
		background: @white;
	}
}

.no-margin{
	margin:0;
}