@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
.button-default {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: gainsboro;
  color: #333333;
}
.button-primary {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: #004877;
  color: #eeeeee;
}
.button-negative {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  background: #E4032E;
  color: #eeeeee;
}
.smart-button {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: 1px solid gainsboro;
  background: transparent;
  color: #333333;
  margin-bottom: 0.5em;
}
.smart-button:hover {
  border: 1px solid transparent;
  background: gainsboro;
}
.smart-button:active {
  opacity: 0.8;
  background: #12A0FF;
  color: #eeeeee;
}
#power-sidebar {
  padding: 0.5rem 2rem;
}
#power-sidebar h3 {
  margin-top: 0;
}
#power-sidebar button {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: 1px solid gainsboro;
  background: transparent;
  color: #333333;
  margin-bottom: 0.5em;
}
#power-sidebar button:hover {
  border: 1px solid transparent;
  background: gainsboro;
}
#power-sidebar button:active {
  opacity: 0.8;
  background: #12A0FF;
  color: #eeeeee;
}
.quick-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.quick-bar h1 {
  position: absolute;
  left: 0;
  margin: 0;
}
.quick-bar button {
  border-radius: 3px;
  padding: 6px 14px;
  font-size: 14px;
  border: 1px solid gainsboro;
  background: transparent;
  color: #333333;
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.quick-bar button:hover {
  border: 1px solid transparent;
  background: gainsboro;
}
.quick-bar button:active {
  opacity: 0.8;
  background: #12A0FF;
  color: #eeeeee;
}
.quick-bar button.link {
  border-color: transparent;
  color: #12A0FF;
}
.quick-bar button.link:hover {
  background: rgba(18, 160, 255, 0.1);
}
