@import "__variables";

@main-bg: #565656;

:host {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 1rem 0 1rem 1rem;
	min-height: calc(100% - 1rem);
	.smooth-shadow-top();
	border-radius: 5px 5px 0 0;
	z-index: 99999;
	background: @main-bg;

	width: 25rem;
}

*:focus{
	outline-color: @action-color;
}

.title{
	width: 100%;
	position:absolute;
	top: 0;
	left:0;
	height: 55px;
	border-bottom: 1px solid @gray;
	box-sizing: border-box;
	background: rgba(@primary-dark,0.4);
	backdrop-filter: blur(8px);
	padding: 1rem;
	border-radius: 5px 5px 0 0;
	z-index: 5;

	.dead-center(row, left);
	.smooth-font(@bleach);

	> *{
		margin-right: 5px;
	}
}

ul.b-list{
	margin: 0;
	padding: 55px 0 60px;
	overflow: auto;
}

.checkout-btn{
	width: 100%;
	position:absolute;
	bottom: 0;
	left:0;
	box-sizing: border-box;
	height: 60px;
	.dead-center();
	background: linear-gradient(to bottom, transparent, @primary-dark 90%);

	button{
		.paragraph();
		.button-primary();
		box-shadow: @smooth-shadow;
		border-radius: @rounded-border;
		border: none;
		padding: 5px 24px;
		height: 40px;
		transition: all .25s;
	}

	button:hover{
		cursor: pointer;
		transform: scale(1.03);
	}

	button:active{
		transform: scale(0.9);
	}

	button:focus{
		outline: none;
	}
}